body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .nav-link{
    color:rgb(255, 255, 255) !important;
  }
  a{
    color:rgb(255, 255, 255) !important;
  }
  footer p {
    color: aliceblue;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .form-all-page{
    max-width: 600px;
    margin: 0 auto;
    width: 700px;
  }
  .nav {
  
    background: #323131;
    margin-bottom: 3em;
  }
  
  footer {
    padding-top: 2em;
    background: #323131;
  }
  main {
  
    background-image: url("/public/images/bg1.png");
    padding-bottom: 4em;
    padding-top: 4em;
  }
  .form-all-page{
    
    background-color: aliceblue;
    padding: 1em;
  }
  .form-all-page h1 {
    color:#000;
  }
  
  .validation {
    background: red;
    color: #fff;
    border-radius: 10px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
  
  }
  .validation p {
    margin: 0;
  }
  .profilito {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.bgprofil {
  background-color: #000;
  padding: 1em;
  margin: 1em;
}
p {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}